<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-left></ion-icon>
<<<<<<< HEAD
      @ionicframework
=======
      @ionicframework bis
      m5
>>>>>>> 379420e5fbe8d9aac941aba62b026dfc666d3be3
    </ion-item>
  </ion-list>
</ion-content>
