<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
<<<<<<< HEAD
    update any existing page or create new pages.
=======
    update any existing page or create new pages.bis
    m8
>>>>>>> 379420e5fbe8d9aac941aba62b026dfc666d3be3
  </p>
</ion-content>
